<div class="box-content">
    <div class="main-content">
        <div class="box-white">
        <div class="box-author">
            <img src="/img/avatar.png" />
            <div class="box-name">
                <h2>Ferry <span>L.H.</span></h2>
                <h3>Java Developer</h4>
                    <h4>ferrylinton@gmail.com</h4>
            </div>
        </div>
    </div>
    <div class="box-white">
        <p>
            Halo, saya adalah seorang <strong>Java Developer</strong> yang berpengalaman. Projek java yang saya kerjakan, kebanyakan
            menggunakan Spring ditambah dengan framework yang lain seperti Apache Camel atau Activiti atau yang lain, disesuaikan dengan kebutuhan.
        </p>
        <p>
            Dalam pengerjaan projek, saya lebih mirip ke <strong>Full Stack Developer</strong> dibanding <strong>Java
                Developer</strong>, karna saya ikut juga dalam
            merancang database dan mengembangkan tampilan website yang dikerjakan.
        </p>
        <p>
            Saat ini saya lagi mencoba <strong>NodeJS</strong>. Blog saya ini saya kembangkan dengan menggunakann <strong>NodeJS</strong>
        </p>
    </div>
    <div class="box-white skills">
        <h2>Ketrampilan</h2>
        <fieldset>
            <legend>JAVA</legend>
            <span>Spring</span>
            <span>Hibernate</span>
            <span>Apache Camel</span>
            <span>Activiti</span>
        </fieldset>
        <br/>
        <fieldset>
            <legend>NodeJS</legend>
            <span>ExpressJS</span>
            <span>Sequelize</span>
        </fieldset>
        <br/>
        <fieldset>
            <legend>Web</legend>
            <span>Html5</span>
            <span>Css3</span>
            <span>Bootstrap</span>
        </fieldset>
    </div>
    </div>
    <div class="right-content">
        {{> random }}
    </div>
</div>