<div class="box-content">
    <div class="main-content">
        <div class="cache">
            <div class="dropdown">
                <button class="dropbtn">{{__ 'operation'}} <span class="arrow-down"></span></button>
                <div class="dropdown-content">
                    <a href="{{link '/cache?operation=keys'}}">keys</a>
                    <a href="{{link '/cache?operation=stats'}}">stats</a>
                    <a href="{{link '/cache?operation=flushAll'}}">flushAll</a>
                </div>
            </div>
            <table class="table">
                <tbody>
                    {{#each data}}
                    <tr>
                        <th scope="row" style="width: 50px;">{{@key}}</th>
                        <td>{{this}}</td>
                        {{#if (equals ../operation 'keys')}}
                        <td><a href="{{link '/cache?operation=del&key=' @key}}">{{../__ 'delete'}}</a></td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>