<div class="box-content">
    <div class="main-content markdown-body">
        {{#if error}}
        {{> connect-refused }}
        {{/if}}
        {{#unless error}}
        <div class="subheader">
            {{> postinfo data=post }}
        </div>
        {{{content}}}
        {{/unless}}
    </div>
    <div class="right-content">
        {{> random }}
    </div>
</div>