{{#unless keyword}}
{{> banner }}
{{/unless}}
<div class="box-content">
  <div class="main-content">
    {{#if error}}
    {{> connect-refused }}
    {{/if}}
    {{#unless error}}
    {{#if keyword}}
    <div class="search-info">
      <span>{{__ 'searchResult'}} : <strong>{{keyword}}</strong>, </span>
      <span>{{__ 'total'}} : <strong>{{count}}</strong></span>
    </div>
    {{/if}}
    {{#unless count}}
    <div class="alert">{{__ "dataIsNotFound"}}</div>
    {{/unless}}
    {{#if count}}

    {{#each rows}}
    <div class="post">
      <h4><a href="{{link '/posts/' code}}">{{title}}</a></h4>
      {{> postinfo data=this }}
      {{this.description}}
    </div>
    {{/each}}

    {{> pagination data=pagination }}
    {{/if}}
    {{/unless}}
  </div>
  <div class="right-content">
    {{> random }}
  </div>
</div>