body {
  padding         : 0;
  margin          : 0;
  min-width       : 350px;
  min-height      : 400px;
  background-color: #252525;
  font-family     : Arial, sans-serif;
  font-size       : 16px;
}

a,
.markdown-body a {
  text-decoration: none;
  color          : #60ad18;
}

a:hover,
.markdown-body a:hover {
  color: #49860f;
}

.clearfix::after {
  content: "";
  clear  : both;
  display: table;
}

svg {
  display       : inline-block;
  height        : 24px;
  vertical-align: middle;
}

a:hover,
.markdown-body a:hover {
  text-decoration: none;
}

.font-small {
  font-size: .8em !important;
}

.font-big {
  font-size: 1.5em !important;
}

footer {
  text-align: center;
  padding   : 15px;
  color     : #89F228;
  border-top: solid 2px #89F228;
}

#overlay {
  position  : fixed;
  background: rgba(144, 144, 144, 0.5);
  width     : 100%;
  height    : 100%;
  z-index   : 9001;
  right     : 0;
  top       : 0;
  transition: right .5s ease;
  display   : none;
}

/* ALERT */

.alert {
  color           : #383d41;
  background-color: #f9f9f9;
  position        : relative;
  padding         : .75rem 1.25rem;
  margin          : 1rem;
  border          : 1px solid transparent;
  border-color    : #edeeee;
  text-align      : center;
}

/* LAYOUT */

.box-content {
  display         : grid;
  flex-direction  : column;
  grid-gap        : 0;
  background-color: #ffffff;
  min-height      : 560px;
}

.main-content {
  margin: 15px;
}

.right-content {
  margin: 15px;
}

.main-content.markdown-body {
  padding: 0 15px 15px 15px;
}

@media (min-width: 768px) {

  .box-content {
    flex-direction       : row;
    grid-template-columns: 1fr 300px;
  }

}

@media (min-width: 992px) {

  .main-content {
    width: 600px;
  }

}

@media (min-width: 1200px) {

  .main-content {
    width: 900px;
  }

}

/* NAVBAR */

nav#navbar {
  background-color: #2d2d2d;
  position        : relative;
  height          : 44px;
  border-bottom   : solid 2px #8AF329;
}

nav#navbar a {
  float      : left;
  height     : 44px;
  line-height: 44px;
}

nav#navbar a:first-child {
  margin-left: 10px;
}

nav#navbar a svg,
nav#navbar a span {
  padding       : 0 6px;
  fill          : #8AF329;
  display       : inline-block;
  vertical-align: middle;
}

nav#navbar svg {
  height: 22px;
}

nav#navbar a {
  color: #8AF329;
}

nav#navbar a:hover {
  color: #72cf1b;
}

nav#navbar a:hover svg {
  fill: #72cf1b;
}

.logo-navbar {
  font-size     : 22px;
  text-transform: uppercase;
}

@media (min-width: 576px) {

  nav#navbar {
    height: 54px;
  }

  nav#navbar svg {
    height: 24px;
  }

  nav#navbar a {
    height     : 50px;
    line-height: 50px;
  }

  .logo-navbar {
    font-size: 28px;
  }

}

/* SEARCH */

.box-search {
  width      : 120px;
  height     : 44px;
  line-height: 44px;
  z-index    : 2;
  position   : absolute;
  top        : 0;
  right      : 10px;
  overflow   : hidden;
}

.box-search:hover {
  width: calc(100% - 15px);
}

.box-search form {
  width         : calc(100% - 2px);
  height        : 30px;
  border        : solid 1px #696969;
  display       : inline-block;
  vertical-align: middle;
}

.box-search input[type=text] {
  width           : calc(100% - 60px);
  margin          : 0;
  padding         : 0 10px;
  float           : left;
  height          : 100%;
  border          : none;
  background-color: transparent;
  color           : #fafafa;
  font-size       : 16px;
}

.box-search input[type=text]:focus {
  outline         : none;
  background-color: #4c4c4c;
}

.box-search input[type=text]::placeholder {
  color: #cacaca;
}

.box-search button {
  margin          : 0;
  float           : right;
  height          : 100%;
  border          : none;
  border-left     : solid 1px #696969;
  cursor          : pointer;
  width           : 40px;
  background-color: #3f3b3b;
}

.box-search button:focus {
  outline: none;
}

.box-search button svg.search {
  fill: #8AF329;
}

.box-search button:hover svg.search {
  fill: #72cf1b;
}

@media (min-width: 576px) {

  .box-search,
  .box-search:hover {
    width      : 300px;
    height     : 50px;
    line-height: 50px;
  }

}

@media (min-width: 768px) {

  .box-search,
  .box-search:hover {
    width: 400px;
  }

}

@media (min-width: 992px) {

  .box-search,
  .box-search:hover {
    width: 500px;
  }

}

/* SIDEBAR */

#sidebar {
  height          : 100%;
  width           : 250px;
  position        : fixed;
  z-index         : 9002;
  top             : 0;
  left            : -250px;
  overflow-x      : hidden;
  transition      : left .5s ease;
  background-color: #ffffff;
  font-size       : .9em;
  padding-bottom  : 30px;
}

#sidebar .close {
  position        : absolute;
  top             : 0;
  right           : 0;
  padding         : 10px;
  display         : inline-block;
  background-color: transparent;
  width           : 25px;
  height          : 25px;
  cursor          : pointer;
}

.close svg {
  width : 100%;
  height: 100%;
  fill  : #b7b4b4;
}

#sidebar .close:hover svg {
  fill: #202020;
}

#sidebar-logo {
  width           : 150px;
  height          : 150px;
  padding         : 0 0 0 0;
  margin          : 0 auto;
  margin-top      : 20px;
  margin-bottom   : 40px;
  text-align      : center;
  background-color: #000000;
  border          : solid 4px #8AF228;
  border-radius   : 50%;
}

#sidebar-logo svg {
  margin-top: 20px;
  width     : 70px;
  height    : 70px;
  fill      : #8AF228;
}

#sidebar-logo h3 {
  margin        : 8px 0 0 0;
  color         : #8AF228;
  text-transform: uppercase;
  font-size     : 20px;
}

#sidebar a {
  display       : block;
  margin        : 0 0 5px 0;
  padding       : 0;
  color         : #606060;
  text-transform: uppercase;
  text-align    : center;
}

#sidebar a span {
  border       : solid 1px transparent;
  padding      : 5px 18px;
  border-radius: 22px;
  display      : inline-block;
}

#sidebar a:hover span,
#sidebar a.selected:hover span,
#sidebar a.selected span {
  color           : #89F328;
  background-color: #2f2f2f;
}

/* POST */

.search-info {
  border-bottom: solid 1px #ececec;
  padding      : 5px 0;
  margin-bottom: 25px;
}

.post {
  margin: 0 0 20px 0;
}

.post h4 {
  margin: 0 0 2px 0;
}

.post-info {
  margin: 10px 0;
}

.subheader .post-info {
  border-bottom : solid 1px #e0d9d9;
  padding-bottom: 5px;
}

.subheader .post-info {
  margin-top: 0;
}

.post-info span,
.post-info a {
  display       : inline-block;
  margin        : 0 5px 0 0;
  padding       : 0;
  color         : #535353;
  height        : 12px;
  text-transform: uppercase;
  font-size     : 14px;
  line-height   : 12px;
}

.post-info a:hover {
  color: #414141;
}

.icon-date {
  width     : 12px;
  height    : 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAW0lEQVQoz92Ruw2AMAxEnzPluaFkBkZgDioWYw7TBMlEioRbXuPP+SxLho67X0zImkkKM9uBBTgiYsvDo9Z6fwXOHkdemkkKKlQMkqLl4jHPcoD2dfufTir/4QaDiTtpm3RfrwAAAABJRU5ErkJggg==) no-repeat;
}

.icon-tag {
  width     : 12px;
  height    : 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAuElEQVQoz5WRsW3DMBRE37FW5Xm8gJAFCKrJDMkQ6TyDKv7CA7gNAs/jykipS0MBjCA7yJW89z4/QeWczSaSrpLGWut926UG3CSdJN0AbB9tX0opw64AzBHxDsxr8UhSztlt8gy82j48Wy+1aQfbb1t476Yk6cof6aWUUhr/IZ0FME3TsCzLxfbxkSDpG3jRevBMWuGI+FRflFIG27+kBo8R8dX/AwC11nv/pi0MIHbS1jsDHz0M8AN843rVHqaqHAAAAABJRU5ErkJggg==) no-repeat;
}

/* PAGINATION */

.pagination {
  height     : 37px;
  line-height: 37px;
}

.pagination .buttons {
  display: inline-block;
}

.pagination a {
  margin          : 0;
  border          : 1px solid #dee2e6;
  display         : inline-block;
  height          : 35px;
  line-height     : 35px;
  background      : linear-gradient(to bottom, #fdfdfd 5%, #f2f2f2 100%);
  background-color: #f1f1f1;
}

.pagination .buttons a:last-child {
  margin-left: -6px;
}

.pagination span {
  display       : inline-block;
  vertical-align: middle;
  margin-left   : 10px;
}

.pagination a svg {
  display       : inline-block;
  vertical-align: middle;
  margin        : 0 15px;
  fill          : #59ad0b;
  height        : 15px;
}

.pagination a:hover {
  background-color: #e9ecef;
  border-color    : #dee2e6;
}

.pagination a:hover svg {
  fill: #468a07;
}

.pagination a.disabled {
  cursor: default;
}

.pagination a.disabled:hover {
  background-color: #fff;
}

.pagination a.disabled svg,
.pagination a.disabled:hover svg {
  fill: #6c757d;
}

/* TAB */

.tabs {
  display           : flex;
  flex-wrap         : wrap;
  background-color  : #2d2d2d;
  padding           : 8px 0 0 0;
  margin-bottom     : 20px;
  box-shadow        : 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
  -moz-box-shadow   : 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
}

.tabs label {
  order         : 1;
  padding       : 10px 15px;
  cursor        : pointer;
  transition    : background ease 0.2s;
  color         : #8AF329;
  text-transform: uppercase;
  font-size     : 13px;
  font-weight   : bold;
  border        : solid 1px #757575;
  border-bottom : none;
}

.tabs input+label {
  margin: 0 0 0 8px;
}

.tabs label:hover {
  background: #474747;
}

.tabs .tab {
  order     : 99;
  flex-grow : 1;
  width     : 100%;
  display   : none;
  padding   : 0;
  background: #ffffff;
  border    : solid 1px #dedede;
  border-top: none;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background  : #fafafa;
  color       : #6d6b6b;
  border-color: #2D2D2D;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

/* LIST */

.list {
  list-style-type: none;
  padding        : 0;
  margin         : 10px 0;
}

.list li {
  padding    : 0;
  margin     : 0 5px 0 5px;
  display    : flex;
  align-items: center;
}

.list li a,
.list li span {
  display: inline-block;
  color  : #6c757d;
}

.list li a {
  flex-grow: 1;
}

.list li a:hover {
  color: #3b4247;
}

.list li a {
  font-size    : 14px;
  padding      : 6px 0;
  border-bottom: solid 1px #f3f3f3;
}

.list li:last-child a {
  border-bottom: none;
}

.list li span {
  width       : 30px;
  text-align  : right;
  margin-right: 10px;
  font-size   : 17px;
  font-weight : bold;
}

.rotate-180::before {
  -webkit-transform: rotate(180deg);
  -moz-transform   : rotate(180deg);
  -ms-transform    : rotate(180deg);
  -o-transform     : rotate(180deg);
  transform        : rotate(180deg);
}

.markdown-body {
  box-sizing: border-box;
  min-width : 200px;
  max-width : 980px;
  padding   : 15px 0 30px 0;
}

.markdown-body pre {
  background-color: #f9fff4;
  border-radius   : 0;
  border          : solid 1px #e7f9d6;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: none;
}

#banner {
  position        : relative;
  height          : 120px;
  overflow        : hidden;
  z-index         : -2;
  background-color: #edf0f2;
}

#banner-bg {
  width     : 100%;
  height    : 70%;
  z-index   : -1;
  position  : absolute;
  top       : 50%;
  transform : translateY(-50%);
  text-align: center;
}

#banner-bg svg {
  height  : 100%;
  width   : auto;
  margin  : 0 15px;
  display : inline-block;
  fill    : #ffffff;
  overflow: hidden;
}

#banner-bg svg:nth-child(4),
#banner-bg svg:nth-child(5),
#banner-bg svg:nth-child(6),
#banner-bg svg:nth-child(7),
#banner-bg svg:nth-child(8) {
  display: none;
}


#banner-bg svg:nth-child(1),
#banner-bg svg:nth-child(5) {
  fill: #bd7c7c;
}

#banner-bg svg:nth-child(2),
#banner-bg svg:nth-child(6) {
  fill: #89b58d;
}

#banner-bg svg:nth-child(3),
#banner-bg svg:nth-child(7) {
  fill: #b9b9b9;
}

#banner-bg svg:nth-child(4),
#banner-bg svg:nth-child(8) {
  fill: #8686a4;
}

#banner-bg svg:hover {
  fill: #838383;
}

@media (min-width: 576px) {

  #banner-bg svg:nth-child(4) {
    display: inline-block;
  }

}

@media (min-width: 768px) {
  #banner-bg svg:nth-child(5) {
    display: inline-block;
  }

  #banner-bg svg:nth-child(6) {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  #banner-bg svg:nth-child(7) {
    display: inline-block;
  }

  #banner-bg svg:nth-child(8) {
    display: inline-block;
  }
}

.page {
  background-color: #ffffff;
  min-height      : 520px;
  max-width       : none;
}

.error-page {
  text-align     : center;
  color          : #a04343;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.error-page svg {
  margin-top: 30px;
  height    : 150px;
  fill      : #a04343;
}

.box-white {
  background-color: #ffffff;
  padding         : 15px 0;
  border-bottom   : solid 1px #eeeeee;
}

.box-content .box-white:last-child {
  border-bottom: none;
}

.box-author {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.box-author img {
  width           : 120px;
  height          : 120px;
  border          : solid 4px #2f2f2f;
  border-radius   : 50%;
  padding         : 2px;
  background-color: #89F229;
}

.box-name {
  margin         : 0;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.box-name h2 {
  margin        : 15px 0 5px 0;
  text-transform: uppercase;
  color         : #5c5c5c;
  font-size     : 28px;
}

.box-name h2 span {
  color           : #8AF329;
  background-color: #000000;
  padding         : 0 5px;
}

.box-name h3 {
  margin     : 0 0 5px 0;
  color      : #9a9a9a;
  font-size  : 24px;
  font-weight: normal;
}

.box-name h4 {
  margin     : 5px 0 5px 0;
  font-weight: normal;
  color      : #585656;
  font-size  : 20px;
}

@media (min-width: 576px) {

  .box-author {
    margin        : 0;
    flex-direction: row;
  }

  .box-name {
    margin     : 0 0 0 30px;
    align-items: flex-start;
  }

  .box-name h2 {
    margin   : 0 0 5px 0;
    font-size: 40px;
  }

}

.skills h2 {
  margin        : 0 0 25px 0;
  text-transform: uppercase;
  font-weight   : lighter;
}

.skills legend {
  padding           : 6px 15px;
  color             : #000000;
  background-color  : #ffffff;
  border            : solid 1px #bbbbbb;
  box-shadow        : 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
  -moz-box-shadow   : 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
}

.skills fieldset {
  display           : inline-block;
  border            : solid 1px #bbbbbb;
  padding           : 20px 15px 15px 15px;
  margin-bottom     : 15px;
  box-shadow        : 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
  -moz-box-shadow   : 0px 0px 8px 0px rgba(205, 205, 205, 0.75);
}

.skills fieldset:last-child {
  margin-bottom: 0;
}

.skills span {
  display: inline-block;
  margin : 0 5px 10px 0;
  padding: 5px 10px;
  border : solid 1px #bbbbbb;
  color  : #585858;
}

.skill {
  display: inline-block;
  margin : 0 15px 15px 0;
}

.skill svg {
  height: 80px;
}

.skill h4 {
  margin    : 5px 0 0 0;
  text-align: center;
}

.cache {
  min-width: 300px;
  display  : inline-block;
  border   : solid 1px #dddddd;
  padding  : 15px;
}

.cache h4 {
  margin       : 0 0 10px 0;
  padding      : 0 0 4px 0;
  border-bottom: solid 2px #5c5c5c;
}

.cache .table {
  margin-top     : 10px;
  border-collapse: collapse;
  width          : 100%;
  border         : solid 1px #dddddd;
}

.cache .table td,
.table th {
  padding: 4px 10px;
  border : solid 1px #dddddd;
}

.cache .table th {
  text-align      : center;
  background-color: #f5f5f5;
}

.dropbtn {
  background-color: #5a5a5a;
  color           : white;
  padding         : 8px 16px;
  font-size       : 16px;
  border          : none;
  cursor          : pointer;
  margin          : 0 0 2px 0;
}

.arrow-down {
  float       : right;
  margin      : 6px 0 0 8px;
  width       : 0;
  height      : 0;
  border-left : 6px solid transparent;
  border-right: 6px solid transparent;
  border-top  : 6px solid #ffffff;
}

.dropdown {
  position: relative;
  display : inline-block;
}

.dropdown-content {
  display         : none;
  position        : absolute;
  background-color: #f9f9f9;
  min-width       : 160px;
  box-shadow      : 0px 4px 10px 0px rgba(206, 206, 206, 0.5);
  z-index         : 1;
  border          : solid 1px #dddddd;
}

.dropdown-content a {
  color          : black;
  padding        : 12px 16px;
  text-decoration: none;
  display        : block;
  border-bottom  : solid 1px #f3f3f3;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #444444;
}

.connect-refused {
  position  : relative;
  padding   : .75rem 1.25rem;
  text-align: center;
  color     : #666666;
}

.connect-refused h1 {
  margin        : 0 0 10px 0;
  text-transform: uppercase;
  font-size     : 50px;
}

.connect-refused h2 {
  margin     : 0 0 10px 0;
  font-size  : 20px;
  font-weight: normal;
}

.connect-refused svg {
  fill  : #666666;
  width : 100px;
  height: 100px;
}

.btn {
  background      : linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border          : 1px solid #dcdcdc;
  display         : inline-block;
  cursor          : pointer;
  color           : #666666;
  font-family     : Arial;
  font-size       : 15px;
  font-weight     : bold;
  padding         : 8px 18px;
  text-decoration : none;
}

.btn:hover {
  background      : linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
  color           : #666666;
}

.btn:active {
  position: relative;
  top     : 1px;
}

.connect-refused .btn svg {
  fill        : #666666;
  margin-right: 4x;
  width       : 20px;
  height      : 20px;
}