<div id="banner" class="container-fluid">
    <div id="banner-bg">
        {{> bug1 }}
        {{> bug2 }}
        {{> bug3 }}
        {{> bug4 }}
        {{> bug5 }}
        {{> bug6 }}
        {{> bug7 }}
        {{> bug8 }}
    </div>
</div>