<div class="connect-refused">
    <h1>Waduh !!</h1>
    <h2>Gagal memuat data</h2>
    <h3>{{> smile }}</h3>
    <a href="{{url}}" class="btn">
        {{> reload }}
        <span>Coba Lagi</span>
    </a>
</div>