
{{#if (cdn)}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg==" crossorigin="anonymous" />
{{else}}
<link rel='stylesheet' href='/css/github-markdown.min.css' />
{{/if}}
<link rel='stylesheet' href='/css/main.css' />