<nav id="navbar" class="clearfix">
    <a href="javascript:void(0);" onclick="openSidebar()">
        {{> menu }}
    </a>
    <a href="/">
        {{> home }}
    </a>
    <a class="logo-navbar" href="/" id="logo-text">
        <span>{{__ 'app'}}</span>
    </a>
    <div class="box-search">
        <form class="clear" autocomplete="off" action="{{searchPath}}">
            <input maxlength="50" autocomplete="off" type="text" name="keyword" value="{{keyword}}" placeholder="{{__ 'keyword'}}" type="text">
            <button type="submit">{{> search }}</button>
        </form>
    </div>
</nav>