<div class="pagination">
    <div class="buttons">
        <a class="{{addClass pagination.hasPrevious '' 'disabled'}}" href="{{path}}{{pagination.previousUrl}}">{{>
            previous }}</a>
        <a class="{{addClass pagination.hasNext '' 'disabled'}}" href="{{path}}{{pagination.nextUrl}}">{{> next }}</a>
    </div>
    <span>{{__ "pageCount" pagination.current pagination.total}}</span>
</div>