<div class="post-info">
    <span class="icon-date"></span><span>{{updatedAtDate}}</span>
    {{#each (toArray tagNames)}}
    <span class="icon-tag"></span><a class="" href="{{link '/posts/tags/' this}}">{{this}}</a>
    {{/each}}
</div>