{{#each random}}
<div class="tabs">
  {{#each content}}
  <input type="radio" name="{{../tag}}" id="{{../tag}}_{{label}}" {{{checkedFirst @index}}}>
  <label for="{{../tag}}_{{label}}">{{../../__ label}}</label>
  <div class="tab">
    <ul class="list">
      {{#each posts}}
      <li><span>{{inc @index}}</span><a href="{{link '/posts/' code}}">{{title}}</a></li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
{{/each}}
{{#unless random}}
<div class="tabs">
  <input type="radio" name="nodata" id="nodata" checked="checked">
  <label for="nodata">{{__ 'nodata'}}</label>
  <div class="tab">
    <div class="alert">{{__ "dataIsNotFound"}}</div>
  </div>
</div>
{{/unless}}