<div id="sidebar">
    <div class="close" onclick="closeSidebar()">
        {{> close }}
    </div>
    <div id="sidebar-logo">
        {{> pen }}
        <h3>{{__ 'app'}}</h3>
    </div>
    <a href="/" class="{{isSelected '/'}}">
        <span>{{__ "home"}}</span>
    </a>
    <a href="/author" class="{{isSelected '/author'}}">
        <span>{{__ "author"}}</span>
    </a>
    {{#unless tags}}
    <div class="alert">{{__ "dataIsNotFound"}}</div>
    {{/unless}}
    {{#if tags}}
    <hr style="width: 50px; border: 0; border-top: 1px solid#cccccc;" />
    {{#each tags}}
    <a href="{{link '/posts/tags/' (trim this)}}" class="{{isSelected (concat '/posts/tags/' (trim this))}}">
        <span>{{this}}</span>
    </a>
    {{/each}}
    {{/if}}
</div>