<!DOCTYPE html>
<html lang="id">

<head>
  <title>{{__ 'app'}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> css}}
</head>

<body>
  <div id="overlay" onclick="closeSidebar()"></div>
  {{> navbar}}
  {{> sidebar}}
  {{{body}}}
  {{> footer }}
  <script src="/js/main.js"></script>
</body>

</html>